{{#unless searchedUser}}
    <h1>My Activity</h1>
{{/unless}}
{{#if logs}}
    <ul>
        {{#each logs}}
        <li>
            <a href="/activity/{{_id}}">{{movieTitle}} logged on {{date}}</a>
        </li>
        {{/each}}
    </ul>
{{else}}
    {{#unless searchedUser}}
        <p>You haven't logged any movies yet.</p>
    {{else}}
        <p>No activity available</p>
    {{/unless}}
{{/if}}