{{#unless searchedUser}}
    <h1>Movies I Like</h1>
{{/unless}}
{{#if userLikes}}
<ul>
    {{#each userLikes}}
    <li>
        <a href="/movie/{{id}}">{{title}}</a>
        {{#unless ../searchedUser}}
            <form method="POST" action="/profile/likes">
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="movieId" value="{{id}}" hidden>
                <input type="hidden" name="operation" value="remove">
                <button type="submit">Remove from likes</button>
            </form>
        {{/unless}}
    </li>
    {{/each}}
</ul>
{{else}}
    {{#unless searchedUser}}
        <p>You haven't liked any movies yet.</p>
    {{else}}
        <p>No liked movies available</p>
    {{/unless}}
{{/if}}