<div class="statistics">
    <h2>Statistics</h2>
    <p>Total movies watched: {{totalMoviesWatched}}</p>
    <p>Total time watched: {{totalTimeWatched}}</p>
    <p>Most watched movie: {{mostWatchedMovie}}</p>
    <p>Most watched genre: {{mostWatchedGenre}}</p>
    <p>Most watched actor: {{mostWatchedActor}}</p>
    <p>Most watched director: {{mostWatchedDirector}}</p>
    <p>Average rating: {{averageRating}}</p>
    <p>Favorite decade: {{favoriteDecade}}</p>
</div>