<h1>Activity Logs</h1>
    {{#if results}}
    {{!-- make it a form --}}
      <table>
          <tr >
            {{!-- <th>Activity ID</th> --}}
            <th style="border: 1px solid black; padding: 8px;">Movie Name</th>
            <td style="border: 1px solid black; padding: 8px;">{{movieName}}</td>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">User ID</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.userId}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Review</th>
            {{!-- inputs --}}
            <td style="border: 1px solid black; padding: 8px;">{{results.review}}</td>=
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Rating</th>
                        {{!-- inputs --}}
            <td style="border: 1px solid black; padding: 8px;">{{results.rating}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Date</th>
                        {{!-- inputs --}}
            <td style="border: 1px solid black; padding: 8px;">{{results.date}}</td>
          </tr>
      </table>
      <button type="button" onclick="">DELETE</button>
    <button>EDIT</button>
    

      
    {{else}}
      <p>No activity logs found.</p>
    {{/if}}
  </body>
