<h1 id="activityById">Activity Logs</h1>
    {{#if results}}
    <h2 id="activityById_mname"></h2>
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="Poster for {{title}}" class="img-thumbnail">
      <table>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Movie Name</th>
            <td style="border: 1px solid black; padding: 8px;">{{movieName}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Movie Id</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.movieId}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">User ID</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.userId}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Review</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.review}}</td>=
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Rating</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.rating}}</td>
          </tr>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Date</th>
            <td style="border: 1px solid black; padding: 8px;">{{results.date}}</td>
          </tr>
      </table>
      <button type="button" class="btn btn-danger" onClick= "showDelete()">DELETE</button>
      <button type="button" class="btn btn-primary" onClick= "showEdit()">EDIT</button>
    
  <script>
    function showDelete() {
      $('#deleteModal').modal('show');
    }
    function showEdit() {
      $('#editModal').modal('show');
    }
    function hideDelete() {
      //add here goto profile
      $('#deleteModal').modal('hide');
      window.location.href = '/profile/';
      //location.reload();
      alert("Activity has been deleted!");
    }
    function hideEdit() {
      //add here goto href="/activity/{{results.activityId}}"
      //window.location.href = '/activity/' + results.activityId;
      $('#editModal').modal('hide');
      
      alert("Activity has been edited!");
      location.reload();
    }
</script>

  <!-- DELETE modal -->
  <div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" href="profile/activity">Confirm Delete</h4>
        <button type="button" class="close" onClick= "hideDelete()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this log?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onClick= "hideDelete()">Cancel</button>
        <button type="button" class="btn btn-danger" onClick= "hideDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT modal -->
  <div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Log</h4>
          <button type="button" class="close" data-dismiss="modal" onClick= "hideEdit()">&times;</button>
        </div>
        <div class="modal-body">
          <form method="PATCH" action="/{{activityId}}" id="update-form">
            <div class="form-group">
              <label for="review">Movie ID:</label>
              <input type="text" class="form-control" id="movieId" value="{{results.movieId}}" readonly>
              {{!-- <p><strong>Movie ID: </strong> <a id="movieId">{{results.movieId}}</a> </p> --}}
              {{!-- <label for="movieName">Movie Name</label>
              <textarea class="form-control" id="movieName">{{movieName}}</textarea> --}}
            </div>
            <div class="form-group">
              <p><strong>Movie Name: </strong> {{movieName}} </p>
              {{!-- <label for="movieName">Movie Name</label>
              <textarea class="form-control" id="movieName">{{movieName}}</textarea> --}}
            </div>

            <div class="form-group">
              <p><strong>User ID: </strong> <a id="userId">{{results.userId}}</a> </p>
              {{!-- <label for="userId">User ID:</label>
              <textarea class="form-control" id="userId">{{results.userId}}</textarea> --}}
              {{!-- <input type="text" class="form-control" id="userId" value="{{results.userId}}"> --}}
            </div>

            <div class="form-group">
              <label for="review">Review:</label>
              <input type="text" class="form-control" id="review" value="{{results.review}}">
              {{!-- <textarea class="form-control" id="review">{{results.review}}</textarea> --}}
            </div>

            <div class="form-group">
              <label for="rating">Rating:</label>
              <input type="number" class="form-control" id="rating" value="{{results.rating}}">
            </div>

            <div class="form-group">
              <label for="date">Date:</label>
              <input type="text" class="form-control" id="date" value="{{results.date}}">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick= "hideEdit()">Cancel</button>
              <button type="button" class="btn btn-danger" onClick= "hideEdit()">Save Changes</button>
            </div>
        
          </form>
        </div>
      </div>
    </div>
  </div>
<script src = "/public/js/script_activityById.js"> </script>




      
    {{else}}
      <p>No activity logs found.</p>
    {{/if}}
  </body>
